.event-details {
    border: 1px solid gray;
}

.ui-grid,
ui-grid-responsive,
ui-fluid {
    font-size: 28px;
    padding-left: 20px;
    padding-top: 22px;
    margin: 0 auto;
    cursor: hand;
    /*opacity: 0.6;*/
}