<p-dataList [value]="events">
  <p-header>List of Events</p-header>
  <p-footer>Choose from the list.</p-footer>
  <ng-template let-event pTemplate="item">
    <div class="ui-g ui-fluid car-item">
      <div class="ui-g-12 ui-md-3" style="text-align:center">
        <img src="assets/images/brain.jpg">
        <div class="ui-g-12 ui-md-9 event-details">
          <div class="ui-g">
            <div class="ui-g-2 ui-sm-6">Event name: </div>
            <div class="ui-g-10 ui-sm-6">{{event.name}}</div>

            <div class="ui-g-2 ui-sm-6">Year: </div>
            <div class="ui-g-10 ui-sm-6">{{event.locale}}</div>

            <div class="ui-g-2 ui-sm-6">Brand: </div>
            <div class="ui-g-10 ui-sm-6">{{event.eventUrl}}</div>

            <div class="ui-g-2 ui-sm-6">Color: </div>
            <div class="ui-g-10 ui-sm-6">{{event.test}}</div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataList>