.selected {
    text-align: center;
    /*display: inline-block;*/
}

button {
    width: 60%;
}

img {
    width: 150px;
    height: 100px;
}

textarea {

    height: 100px;
}

.container {
    height: 500px;
    width: 500px;
}
.selected,container{
  width: 300px;
  margin: 0 auto;
  align-self: center;
  text-align: center;
  overflow-x: hidden !important;
}
