<app-header></app-header>
<p-dataTable #dt [value]="data" [paginator]="true" [rows]="10" [sortOrder]="1">
    <p-column field="id" header="id" sortable="true"></p-column>
    <p-column field="username" header="username" sortable="true"></p-column>
    <p-column field="email" header="email" sortable="true"></p-column>
    <p-column field="password" header="Password" sortable="true"></p-column>
    <p-column field="create_time" header="Date_Created" sortable="true"></p-column>
</p-dataTable>
<button type="button" pButton (click)="update(dt)" label="Reset"></button>
<router-outlet></router-outlet>
<app-signup></app-signup>