input[type=text], input[type=password], button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginDiv {
    width: 300px;
    
    border: 1px solid gray; 
    border-radius: 2%;
}

i { 
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}